<% if alert || flash[:alert] || flash[:error] %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert" href="#">x</a>
      <h4 class="alert-heading">Error!</h4>
      <%= alert %>
      <%= flash[:error] %>
    </div>
<% end %>
<% if model.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert" href="#">x</a>
      <h4 class="alert-heading">Error!</h4>
      <ul>
        <% model.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% if flash[:success] || notice || flash[:notice]%>
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert" href="#">x</a>
      <h4 class="alert-heading">Success!</h4>
      <%= flash[:success] %>
      <%= notice %>
    </div>
<% end %>